.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #000;
    color: #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    display: flex;
  }

  .back-to-top i {
    opacity: inherit;
  }
  
  .back-to-top.visible {
    opacity: 1;
    visibility: visible;
  }
  